.AuthorRecentPosts {
    padding: 10px 10px 5px;
    margin: 10px auto;
    max-width: 40rem;
    clear: both;
    color: #ffffff !important;

    h6 {
        margin: 0 !important;
        padding: 2px 0 6px !important;
        border-bottom: 1px solid #ff7a33 !important;
        color: #ffffff !important;
    }

    table {
        table-layout: fixed;
        width: 100% !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    tr {
            background-color: blue;
        }
    }

    th,
    td {
        padding: 5px 5px 5px !important;
    }

    th {
        text-align: left;
        font-weight: normal;
        word-break: break-all;
        overflow: hidden;
        line-height: 1.5;
        background-color: white;
    }

    td {
        width: 80px;
        text-align: right;
        color: #ffb861 !important;
    }
} 
