.FormattedAssetToken {
  font-weight: 400;
  display: inline-table;
  padding: 0.1rem 0.2rem;
  margin: 0 1rem 0 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.75rem;
  vertical-align: 15%;
  background-color: rgb(0, 120, 167);
  color: rgb(255, 255, 255);

  .prefix {
    padding-right: 0.1rem;
  }
}