.ThumbUp {
  white-space: nowrap !important;
  span {
    white-space: nowrap !important;
  }
  .dropdown-pane {
    @include themify($themes) {
      border: themed('borderDark');  
    }    
  }
}

.ThumbUp__button {
  .Icon {
    // Put the icon in a layer to improve rendering performance (scrolling especially)
    transform: translate3d(0,0,0);
  }
  path {
    fill: $dark-gray;
  }
  circle {
    stroke: $dark-gray;
  }
  > a:hover path {
    fill: $black;
  }
}

.ThumbUp__button-up {
  .Icon {
    margin-left: 0;
    border-radius: 50%;
  }
  div > a {
    padding-right: 0.4rem;
  }
  > a {
    padding-right: 0.4rem;
  }
  path {
    @include themify($themes) {
      fill: themed('textColorAccent');
    }       
  }
  circle {
      @include themify($themes) {
        stroke: themed('textColorAccent');
      }       
  }
  // exclude small devices
  @media screen and (min-width: 39.9375em) {
      .Icon:hover {
          box-shadow: 0 0 0 rgba(75, 162, 242, 1);
          animation: pulse 2s infinite;
      }
  }
  .close-button {
    // position: relative;
    line-height: 2.6rem;
    margin-left: 1.5em;
  }
  > .dropdown-comp > .dropdown__content {
    position: absolute;
    top: -30px;
    left: -26px;
  }
}

.ThumbUp__button-up > a:hover, a.confirm_weight:hover {
    circle {
        @include themify($themes) {
          fill: themed('colorAccent');
          stroke: themed('colorAccent');
        }   
    }
    svg {
        background-size: contain;
        border-radius: 50%;
    }
}

.ThumbUp__button-up.ThumbsUp {
  padding-right: 0.5rem;
  svg {
    border: 1px solid $color-teal;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: loading 500ms infinite linear;
  }
}

.ThumbUp .DropdownMenu ul {
  width: 260px;

  li > a {
    padding: 0 0.5rem;
    line-height: 1.25;
  }

  li > span {
    padding: 0 0.5rem;
    line-height: 1.25;
  }
}

.DropdownMenu.Thumbsup__list ul {
  li > a {
    //font-weight: 200;
  }

  li > span {
    padding: 0.25rem 0.5rem;
    font-size: 82.5%;
    display: block;
    @include themify($themes) {
      color: themed('textColorSecondary');  
    }  
  }
}

.ThumbUp__inner {
  @include themify($themes) {
    border-right: themed('borderLight'); 
  } 
  padding-right: .8rem;
  margin-right: .6rem;
  .DropdownMenu .Icon.dropdown-arrow {
    margin-right: -0.5rem;
    position: relative;
    top: 2px;
  }
  .cancel {
    font-size: 80%;
    padding: 0 0.4em;
    margin-left: 0.5rem;
    margin-right: 2px;
    background-color: #f8f8f8;
    border-radius: 50%;
    border: 1px solid #dadada;
    color: #8a8a8a;
  }
}

.ThumbUp__adjust_weight {
  padding: 20px 20px 20px;
  // margin-right: 10px;
  width: 350px;
  min-width: 320px;
  overflow: hidden;
  // .Icon:hover {
  //   animation: none !important;
  // }
  .token-balance-display {
    float: left;
    margin-right: 0.5rem;
    text-align: right;
    color: $dark-gray;
    line-height: 2.6rem;
  }
  .token-name-display {
    float: left;
    margin-left: 0.5rem;
    color: $dark-gray;
    line-height: 2.6rem;
  }
  .error-display {
    float: left;
    margin-right: 0.5rem;
    text-align: right;
    color: $color-red;
    line-height: 2.6rem;
  }
  .weight-display {
    width: 3.7rem;
    float: left;
    margin-left: 0.5rem;
    text-align: left;
    color: $dark-gray;
    // line-height: 2.6rem;
  }
  a.thumbup_confirm_weight {
    float: left;
    width: 2rem;
    height: 2rem;
    //line-height: 2.6rem;
  }
  .rangeslider {
    position: relative;
    float: left;
    background: #e6e6e6;
    .rangeslider__fill, .rangeslider__handle {
      position: absolute;
    }
    &, .rangeslider__fill {
      display: block;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
    .rangeslider__handle {
      background: #fff;
      border: 1px solid #ccc;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      top: 50%;
      transform: translate3d(-50%,-50%,0);
      &:active {
        background: $color-teal;
        box-shadow: none;
      }
    }
  }
  .rangeslider-horizontal {
    height: 10px;
    width: 200px;
    background: none;
    float: left;
    margin-top: 18px;
    .rangeslider__fill {
      height: 100%;
      background: $color-teal;
      box-shadow: none;
      left: 0;
    }
  }
  .ThumbUp__adjust_weight_close {
    position: static;
    line-height: 2.6rem;
    font-size: 2rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .ThumbUp__button-up {
    .dropdown-pane {
      margin-top: -36px;
      position: absolute;
      left: 1rem;
    }
  }
}

/* Medium and bigger */
@media screen and (min-width: 39.9375em) {
  .ThumbUp__button-up {
    display: inline-block;
    position: relative;
    .dropdown-pane {
      top: -18px;
      left: -28px;
    }
  }
}

/* Pulse for upvote action */
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(6, 214, 169, 2);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(6, 214, 169, 1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(6, 214, 169, 1);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(6, 214, 169, 2);
        box-shadow: 0 0 0 0 rgba(6, 214, 169, 2);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(6, 214, 169, 0);
        box-shadow: 0 0 0 10px rgba(6, 214, 169, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(6, 214, 169, 0);
        box-shadow: 0 0 0 0 rgba(6, 214, 169, 0);
    }
}

.weight-container {
  min-width: 300px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2px;
}

#weight-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding :5px;
  margin-right: 0px !important;
}
#weight-center {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding :5px;
  margin-right: 0px !important;
}
#weight-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding :5px;
  margin-right: 0px !important;
}

#btn_group {
  text-align : center !important;
}

#btn_group button {
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
}

#btn_group button:hover{
    color:white;
    background-color: skyblue;
}

#btn_group button:focus{
  outline:none;
}