
@import "./foundation-settings";
@import "~foundation-sites/scss/foundation";

@include foundation-everything(true);

@import "./variables";
@import "./mixins";
@import "./layout";
@import "./themes";

@import "./foundation-overrides";

@import './animation';

@import "./fonts";
@import "./forms";

@import "./markdown";
@import "src/app/components/all";

/* Small only */
@media screen and (max-width: 39.9375em) {
  body {
    font-size: 86%;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body {
    font-size: 92%;
  }
}

a, path, circle {
  transition: opacity, fill, stroke .3s ease 0s;
}

.space-right {
  margin-right: 0.4rem;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

.clear-both {
  clear: both;
}

.strikethrough {
  text-decoration: line-through;
}

.uppercase, label {
  text-transform: uppercase;
}

.whistle-view {
    .whistle-hidden {
        display:none !important;
    }
}



.secondary {
  @include themify($themes) {
    color: themed('textColorSecondary');
  }
  font-size: 90%;
  a {
    transition: 0.2s all ease-in-out;
    color: $dark-gray;
    @include themify($themes) {
      color: themed('textColorSecondary');
    }
    :hover {
      @include themify($themes) {
        color: themed('textColorAccent');
      }
    }

  }
}

.ptc,
a.ptc {
    cursor:pointer;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  @include themify($themes) {
    color: themed('textColorPrimary');
  }

  &:hover, &:focus {
    color: $dark-gray;
    text-decoration: none;
    @include themify($themes) {
        color: themed('textColorAccent');
    }
  }
}

.button.hollow.no-border {
  border: none;
  text-decoration: underline;
}

.button.slim {
  padding: 5px;
  margin: 5px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.marginLeft1rem {
  margin-left: 1rem;
}

.NotFound {
  width: 640px;
  margin-top: 2em;
  text-align: center;
  // small only
  @media screen and (max-width: 39.9375em) {
      width: 340px;
  }
}

.NotFound__menu {
 text-align: center;
    li {
        float: none;
        display: inline-block;
        text-align: center;
        margin-right: 1%;
        list-style: none;
        font-weight: 400;
    }
    li:after {
        content: " |";
    }
    li:last-child:after {
        content: "";
    }
}

.NotFound__header {
  margin-top: 1em;
}

@media print {
  .noPrint {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2 !important;
}

.c-sidebar {
  width: 100%;
  max-width: 240px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  &__module {
      padding: 1.5em 2em;
    @include themify($themes) {
        background-color: themed('moduleBackgroundColor');
        border: themed('border');
    }
  }
}

.phishy {
  display: inline;
  color: red;
}

.pager {list-style: none}

a[rel="noopener"]:after,
a[rel="nofollow noopener"]:after {
  content: '';
  background: url('data:image/svg+xml; utf8, <svg height="1024" width="768" xmlns="http://www.w3.org/2000/svg"><path d="M640 768H128V257.90599999999995L256 256V128H0v768h768V576H640V768zM384 128l128 128L320 448l128 128 192-192 128 128V128H384z"/></svg>');
  background-size: cover;
  display: inline-block;
  width: 0.6em;
  height: 0.75em;
  top: 0.05em;
  position: relative;
  left: 0.2em;
  margin-right: 0.2em;
  opacity: .5;
}

.PostFull__body a[rel="noopener"]:after,
.PostFull__body a[rel="nofollow noopener"]:after {
  // $color-text-gray
  background-image: url('data:image/svg+xml; utf8, <svg height="1024" width="768" xmlns="http://www.w3.org/2000/svg"><path d="M640 768H128V257.90599999999995L256 256V128H0v768h768V576H640V768zM384 128l128 128L320 448l128 128 192-192 128 128V128H384z" fill="%23788187"/></svg>');
}

.affiliation {
  font-weight: 400;
  display: inline;
  margin: 0 0.3rem;
  padding: 0 0.4rem 0.1rem;
  border-radius: 0.3rem;
  text-shadow: none;
  font-size: 0.75rem;
  vertical-align: middle;
  @include themify($themes) {
    background-color: themed('colorAccent');
    color: themed('buttonText');
  }
}

.cardContainer,
.growContainer {
    position: relative;
    margin: 0 auto;
    max-width: 1010px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.broproCards {
    margin: 10px -13px 0;
}

.bro-card-wrapper {
    padding: 0 13px;
    float: left;
}

.bro-card {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 3px 13px rgba(0,0,0,.2);
    box-shadow: 0 3px 13px rgba(0,0,0,.2);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
    max-height: 460px;
    width: 300px;
}

.bro-card a {
    display: block;
    margin-bottom: 20px;
}

.bro-card h4 {
    color: purple;
    font-weight: 700;
}

.bro-card h6 {
    margin: 20px;
    font-size: 14px;
}

.bro-card button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.bro-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ant-collapse h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.ant-btn {
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 4px;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    color: rgba(0,0,0,.65);
    background-color: #fff;
    border-color: #e9e7e7;
}

.ant-btn-primary, .ant-btn-primary:hover {
    color: #fff !important;
    background-color: #1168d9;
    border-color: #1168d9;
}

.ant-collapse {
    font-family: Whitney,Source Sans Pro,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fafafa;
    border-radius: 4px;
    border: 1px solid #e9e7e7;
    border-bottom: 0;
}

.ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 0 0 4px 4px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    line-height: 22px;
    padding: 12px 0 12px 40px;
    color: rgba(0,0,0,.85);
    cursor: pointer;
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.ant-collapse-content {
    overflow: hidden;
    color: rgba(0,0,0,.65);
    padding: 0 16px;
    background-color: #fff;
    border-top: 1px solid #e9e7e7;
}

.ant-collapse-content > .ant-collapse-content-box {
    padding-top: 16px;
    padding-bottom: 16px;
}

.ant-list {
    font-family: Whitney,Source Sans Pro,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.ant-list-vertical .ant-list-item {
    display: block;
}

.ant-list-lg .ant-list-item {
    padding-top: 16px;
    padding-bottom: 16px;
}

.ant-list-split .ant-list-item {
    border-bottom: 1px solid #e8e8e8;
}

.ant-list-vertical .ant-list-item-extra-wrap {
    @media screen and (max-width: 480px) {
        flex-wrap: wrap-reverse;
    }

    display: flex;
}

.ant-list * {
    outline: none;
}

.ant-layout, .ant-layout * {
    box-sizing: border-box;
}

.ant-list-vertical .ant-list-item-main {
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
}

.ant-list-vertical .ant-list-item-content {
    display: block;
    color: rgba(0,0,0,.65);
    font-size: 16px;
    margin-bottom: 16px;
}

.ant-list-item-content-single {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.ant-list-vertical .ant-list-item-extra {
    margin-left: 58px;

    @media screen and (max-width: 480px) {
        margin-left: 0px;
    }
}

.antContent {
    margin-bottom: 10px;
    margin-top: 10px
}

.ant-list-item {
    @media screen and (max-width: 480px) {
        flex-wrap: wrap;
    }
}
