body {
    &.theme-swap {
        background: #fff !important;
        .App {
            &.theme-light {
                background: #fff !important;
            }
        }
    }
}

.swap-wrap {
    width: 100%;
    padding: 0 3%;
    max-width: 580px;
    margin: 3rem auto;
    .tab-title {
        ul {
            list-style: none;
            display: block;
            background: #fafafa;
            border-radius: 3rem;
            margin: 0 0 1rem;
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            li {
                list-style: none;
                float: left;
                width: 33.333%;
                &.active {
                    a {
                        font-weight: 700;
                        color: #2f80ed;
                        background: #fff;
                        border-color: #e1e1e1;
                    }
                    &:hover {
                        a {
                            background: #fcfcfc;
                        }
                    }
                }
                a {
                    display: block;
                    height: 2.5rem;
                    line-height: calc(2.5rem - 2px);
                    text-align: center;
                    font-size: 1rem;
                    color: #737373;
                    border: 1px solid #fafafa;
                    border-radius: 3rem;
                    transition: all 0.2s ease;
                }
                &:hover {
                    a {
                        color: #1366d6;
                    }
                }
            }
        }
    }
    .input-box {
        position: relative;
        .text-label {
            position: absolute;
            left: 1px;
            right: 1px;
            top: 1px;
            z-index: 10;
            display: block;
            padding: 0.75rem 1rem;
            line-height: 1rem;
            font-size: 0.8rem;
            color: #737373;
        }
        .able-coin {
            position: absolute;
            right: 1rem;
            top: 0.75rem;
            line-height: 1rem;
            font-size: 0.8rem;
            color: #737373;
        }
        .coin-input {
            padding: 2.75rem 0.85rem 0.75rem;
            height: auto;
            line-height: 1.75rem;
            border: 1px solid #e1e1e1;
            border-radius: 1.25rem;
            box-shadow: 0 4px 8px 0 rgba(47,128,237,0.05);
            &:focus {
                border-color: #5ca2ff;
            }
        }
        .coin-select {
            position: absolute;
            right: 0.85rem;
            bottom: 0.75rem;
            z-index: 10;
            padding: 0 2rem 0 12px;
            height: 2rem;
            vertical-align: middle;
            font-size: 1rem;
            text-transform: none;
            background: #fafafa;
            border: 1px solid #e1e1e1;
            border-radius: 1rem;
            outline: 0;
            margin: 0 !important;
            cursor: pointer;
            img {
                display: inline-block;
                width: 24px;
                height: auto;
                border-radius: 50%;
                margin-right: 6px;
            }
            span {
                line-height: 14px;
                vertical-align: text-bottom;
            }
            i.arrow {
                position: absolute;
                right: 12px;
                top: 12px;
                svg {
                    fill: none;
                    stroke: #aeaeae;
                    vertical-align: top;
                }
            }
            &[value="0"] {
                color: #5ca2ff;
                border-color: #5ca2ff;
                i.arrow {
                    svg {
                        stroke: #5ca2ff;
                    }
                }
            }
            &:focus {
                border-color: #1366d6;
                i.arrow {
                    svg {
                        stroke: #1366d6;
                    }
                }
            }
            &:hover {
                color: #2f80ed;
                border-color: #2f80ed;
                i.arrow {
                    svg {
                        stroke: #2f80ed;
                    }
                }
            }
        }
    }
    .top-space {
        background: #fafafa;
        border-radius: 0.625rem 0.625rem 0 0;
        margin: -0.15rem 0.5rem;
        .turn-liquidity {
            box-sizing: border-box;
            padding: 1rem;
            width: 100%;
            text-align: left;
            margin: 0 !important;
            cursor: pointer;
        }
    }
    .mid-space {
        box-sizing: content-box;
        padding: 0.575rem;
        height: 26px;
        text-align: center;
        vertical-align: top;
        background: #fafafa;
        margin: -0.15rem 0.5rem;
        .turn-upDown {
            width: 50px;
            height: 26px;
            cursor: pointer;
        }
    }
    .exchange-rate {
        margin: -1rem 0.5rem 0;
        padding: 1rem 1rem 0;
        line-height: 1.5rem;
        font-size: 0.75rem;
        color: #737373;
        background: #fafafa;
        border-radius: 0.625rem;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        dt {
            float: left;
        }
        dd {
            float: right;
        }
    }
    .submit-coin {
        display: block;
        width: 320px;
        height: 50px;
        font-weight: 700;
        font-size: 1.1rem;
        color: #fff;
        text-transform: none;
        background: #2f80ed;
        border-radius: 25px;
        margin: 2.5rem auto !important;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
            background: #1366d6;
        }
    }
}

.reveal-swap-overlay {
    background: rgba(0,0,0,0.4);
    cursor: pointer;
}
.reveal-swap[role="document"] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: 650px;
    max-width: 90%;
    min-height: 500px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    box-shadow: none;
    margin: 0;
    &.reveal-pool {
        padding-top: 2rem;
        min-height: 200px;
        height: 200px;
        ul {
            list-style: none;
            margin-left: 0;
            li {
                list-style: none;
                padding: 0 1rem;
                a {
                    display: block;
                    padding: 1rem;
                    font-size: 1.1rem;
                    color: #666;
                    border: 1px solid #fff;
                    border-radius: 3rem;
                }
                &.active {
                    a {
                        font-weight: 700;
                        color: #2f80ed;
                        border-color: #ddd;
                    }
                }
            }
        }
    }
    .close-button {
        top: 0;
        right: 0;
        margin-right: 0 !important;
        width: 52px;
        height: 52px;
        text-align: left;
        text-indent: -999px;
        overflow: hidden;
        background: url('data:image/svg+xml; utf8, <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>') no-repeat 50% 50%;
    }
    .token-title {
        padding: 1rem;
        font-weight: 500;
        font-size: 1.15rem;
        margin: 0;
    }
    .token-search {
        position: relative;
        background: #fafafa;
        .srh-icon {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            display: table;
            width: 40px;
            height: 58px;
            .table-cell {
                display: table-cell;
                width: 100%;
                height: 100%;
                text-align: right;
                vertical-align: middle;
            }
        }
        input[type="text"] {
            display: block;
            padding: 0.5rem 1.5rem 0.5rem 64px;
            width: 100%;
            height: 58px;
            background: none;
            border: 0;
            border-radius: 0;
            box-shadow: none;
        }
    }
    .token-list {
        ul {
            list-style: none;
            margin: 0;
            li {
                list-style: none;
                button {
                    display: block;
                    padding: 1rem;
                    width: 100%;
                    text-align: left;
                    cursor: pointer;
                    &:hover {
                        background: #f1f1f1;
                    }
                    img {
                        height: 32px;
                        width: auto;
                        border-radius: 50%;
                        vertical-align: baseline;
                        margin-right: 1rem;
                    }
                    .token-name {
                        display: inline-block;
                        margin: 0;
                        .simple {
                            display: block;
                            line-height: 1.3rem;
                            font-size: 1.1rem;
                            color: #2a2a2a;
                        }
                        .full {
                            display: block;
                            line-height: 1.2rem;
                            font-size: 1rem;
                            color: #aeaeae;
                            text-transform: none;
                        }
                    }
                }
            }
        }
    }
}