.MinimizedIcon {
    display: 'flex';
    alignItems: 'center';
    justifyContent: 'center';
    width: '60px';
    height: '60px';
    background: '#0093FF';
    color: '#fff';
    borderRadius: '50%';
    cursor: 'pointer';
}
