.Post__comments_sort_order {
  margin: 0.5rem 0;
  @include themify($themes) {
    color: themed('textColorSecondary');  
  }  
  font-size: 94%;
  svg polygon {
    fill: $dark-gray;
    @include themify($themes) {
        fill: themed('textColorSecondary');  
    } 
  }
  > span {
    font-weight: bold;
  }
}

.Post__promo {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem 0;
  @include themify($themes) {
    border-bottom: themed('border');  
  } 
  .button { 
      margin-top: 1rem;
      text-transform: none;
  }
}

.Post_comments__content {
  max-width: 50rem;
  margin: 0 auto 3.5rem;
  font-size: 92%;
}

#lucky-box-icon {
  position:absolute;
  margin: 200vh auto 0 auto;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.floating {  
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
  max-width: 100% !important;
  width: 100% !important;
}