.Pagination {
    display: flex;

    ul.pagination-list {
        margin-left: 0;
        margin-bottom: 0;
        list-style: none;
        display: inline-flex;

        li {
            width: 30px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            font-size: 1.25em;

            &.active {
                color: $color-teal;
            }
        }
    }

    button {
        cursor: pointer;
        margin-right: 0 !important;
    }

    button:disabled,
    button[disabled] {
        opacity: 0.3;
        pointer-events: none;
    }

    .button-next {
        svg {
            transform: rotate(180deg);
        }
    }
}
